
<% if @error != nil %><div class="alert alert-danger"><%= @error %></div><% end %>
<form action="/signup" method="post">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>